@font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy-ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
    margin-top: 40px;
    padding: 0 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    width: 1160px;
    min-height: 186px;
    margin: auto;
    background-color: #f7e296;
} 

.page-header-logo {
    margin-top: -19px;
    padding-left: 60px;
}

.user-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 17px 60px 2px;
    margin-bottom: 30px;
}

.search {
    width: 440px;
    padding-bottom: 7px;
}

.user-navigation, 
.main-catalog,
.submenu, 
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 540px;
    margin: 0;
}

.user-navigation li {
    margin-left: 35px;
}

.user-navigation li:first-child {
    flex-grow: 1;
}

.search input[type="search"] {
    background-color: #f7e296;
    border: none;
}

.search input[type="search"]::-webkit-input-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover::-webkit-input-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus::-webkit-input-placeholder {
    opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover::-moz-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus::-moz-placeholder {
    opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover:-ms-input-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus:-ms-input-placeholder {
    opacity: 1;
}

.search-button {
    background-color: #f7e296;
    border: 2px solid black;
}

.search-button:hover {
    background-color: #000000;
    color: #ffffff;
}

.search-button:active {
    background-color: #000000;
    color: rgba(255,255,255, 0.3);
    outline: none;
}

.user-navigation a, 
.submenu a, 
.main-menu a {
    color: #000000;
}

a.catalog-menu {
    position: relative;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.main-menu a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.page-header a:hover {
    color: rgba(0,0,0, 0.6);
}

.page-header a:active {
    color: rgba(0,0,0, 0.3);
}

.logout a {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 60px;
    position: relative;
}

.submenu-link {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 24px;
    left: -60px;
    width: 1040px;
    min-height: 100px;
    padding: 27px 60px 36px;
    background-color: #f7e296;
}

.submenu-link:hover .submenu {
    display: flex;
}

.submenu-part {
    min-width: 200px;
}

.submenu-part:first-child {
    margin-right: 40px;
}

.main-menu {
    display: flex;
    justify-content: flex-start;
    width: 540px;
    padding: 0;
}

.main-menu li {
    margin-left: 35px;
}

.main-menu li:last-child {
    margin-right: -3px;
    margin-left: auto;
}

.promo-slider-list, 
.promo-slider-controls, 
.popular-list, 
.services-slider-list,
.brands-logo-list {
    list-style: none;
}

.main-top-wrapper {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: auto;
    padding: 0 20px;
}

.promo-slider-wrapper {
    position: relative;
    width: 1160px;
    margin: auto;
    z-index: 0;
}

.promo-slider-wrapper::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 1160px;
    height: 113px;
    background-color: #f7e296;
}

.promo-slide {
    position: relative;
    z-index: 1;
}

.promo-slider-number {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 180px;
    line-height: 180px;
    color: #ffffff;
    /*Временно для наглядности */
    background-color: #f7e296;
}

.promo-slider-slogan {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
}

.button {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #000000;
    background-color: transparent;
    border: none;
}

.button:hover {
    background-color: #f0c52e;
}

.button:active {
    background-color: #f0c52e;
    color: rgba(0,0,0, 0.3);
    outline: none;
}

.promo-slider-table th {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.promo-slider-table td {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.popular-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 1160px;
    margin: auto;
    padding: 0 20px;
}

.popular-list li {
    flex-basis: 160px;
}

.popular-list img {
    background-color: rgba(240,197,46, 0.5);
}

.popular-list a:hover img {
    background-color: #f0c52e;
}

.popular-list a:active img {
    opacity: 0.3;
}

.popular-list span {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.popular-list a:active span {
    color: rgba(0,0,0, 0.3);
}

.services-slider {
    margin: 0;
    background-color: #e5e5e5;
    min-width: 1200px;
}

.services-wrapper {
    display: flex;
    width: 1160px;
    margin: auto;
    margin-bottom: 105px;
    padding: 0 20px;
}

.services-slider-controls {
    list-style: none;
    width: 300px;
    margin: 0;
    padding: 0;
}

.services-slider-controls .button:active {
    background-color: #000000;
    color: #f7e184;
}

.services-slide {
    width: 800px;
}

.services-slide a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
}

.main-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1160px;
    margin: auto;
    margin-bottom: 90px;
    padding: 0 20px;
}

.brands-logo-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: ;
}

.brands-logo-item img {
    filter: grayscale(100%);
    opacity: 0.2;
}

.brands-logo-item img:hover, 
.brands-logo-item img:focus {
    filter: none;
    opacity: 1;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.info-wrapper h3 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000000;
}

.about-us {
    width: 460px;
}

.transport {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.contacts {
    width: 560px;
    margin-right: 0;
}

.page-footer {
    background-color: #464646;
    min-width: 1200px;
    min-height: 323px;
    margin: 0;
    padding: 0;
}

.page-footer-wrapper {
    width: 1160px;
    padding: 64px 20px 0px;
    margin: auto;
}
.page-footer-logo img:hover, 
.page-footer-logo img:focus {
    opacity: 0.6;
}

.page-footer-logo img:active {
    opacity: 0.3;
}

.page-footer-user-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.page-footer-logo {
    flex-grow: 1;
}

.footer-user-navigation {
    display: flex;
}

.footer-user-navigation li {
    padding-left: 37px;
}

.footer-user-navigation a {
    color: rgba(255,255,255, 0.7);
}

.footer-user-navigation a:hover, 
.footer-user-navigation a:focus {
    color: rgba(255,255,255, 1);
}

.footer-user-navigation a:active {
    color: rgba(255,255,255, 0.3);
}

.page-footer-contacts {
    display: flex;
    justify-content: space-between;
}

.page-footer-address, 
.page-footer-tel {
    color: #ffffff;
}

.page-footer-menu {
    display: flex;
}

.page-footer-menu li {
    padding-right: 35px;
}

.page-footer-menu a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
}

.page-footer-menu a:hover {
    color: rgba(255,255,255, 0.6);
}

.page-footer-menu a:active {
    color: rgba(255,255,255, 0.3);
}

.page-footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    min-height: 35px;
    position: relative;
}

.page-footer-links::before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}

.page-footer-social {
    margin-right: auto;
    margin-left: 507px;
    padding: 0;
}

.page-footer-social ul {
    display: inline;
}

.page-footer-social li {
    display: inline-block;
}

.social-button {
    background-color: rgba(255,255,255, 0.3);
}

.social-button:hover, 
.social-button:focus {
    background-color: rgba(255,255,255, 0.6);
}

.social-button:active {
    background-color: rgba(255,255,255, 0.1);
}

.copyright img:hover, 
.copyright img:focus {
    opacity: 0.6;
}

.copyright img:active {
    opacity: 0.3;
}

.write-us-item label {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] {
    background-color: rgba(230,230,230, 0.5);
    border: none;
}

.write-us-item input[type="text"]:hover,
.write-us-item input[type="email"]:hover {
    background-color: rgba(230,230,230, 0.8);
}

.write-us-item input[type="text"]:focus,
.write-us-item input[type="email"]:focus {
    background-color: #ffffff;
    outline-color: rgba(240,197,46, 0.5);
}

.write-us-item input[type="text"]:invalid,
.write-us-item input[type="email"]:invalid {
    background-color: rgba(237,181,181, 0.5);
}

.write-us-item input[type="text"]::-webkit-input-placeholder,
.write-us-item input[type="email"]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.write-us-item input[type="text"]::-moz-placeholder,
.write-us-item input[type="email"]::-moz-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.write-us-item input[type="text"]:-ms-input-placeholder,
.write-us-item input[type="email"]:-ms-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.breadcrumbs-wrapper {
    width: 1100px;
    margin: auto;
    padding: 43px 20px 48px 80px;
}

.page-title {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0, 0.3);
    margin: 0;
    padding: 0;
} 

.breadcrumbs li {
    position: relative;
    padding-right: 39px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
      position: absolute;
      top: 14px;
      right: 17px;
      display: block;
      width: 4px;
      height: 7px;
      background-image: url("../img/nav-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    color: rgba(0,0,0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0,0,0, 0.1);
}

.inner-page-wrapper {
    display: flex;
    min-width: 1200px;
    margin: 0;
    padding: 0;
}

.filters {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #efefef;
    margin-bottom: 4px;
}

.filters-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 349px;
    min-height: 70px;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 70px;
    position: relative;
}

.filters-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.08);
}

.filters-header h2 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
} 

.filters-main {
    box-sizing: border-box;
    min-width: 349px;
    margin-left: auto;
    padding-left: 80px;
}

.filters label {
    font-size: 14px;
    line-height: 40px;
    color: #000000;
}

.price label {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
} 

.filters legend {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.filters fieldset {
    border: none;
}

.filters ul,
.pagination-list {
    list-style: none;
}

.filters input[type="checkbox"]:disabled + label,
.filters input[type="radio"]:disabled + label {
    color: #a6a6a6;
}

.catalog-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 77px;
}

.sort-by {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 853px;
    min-height: 70px;
    padding-right: 20px;
    position: relative;
}

.sort-by::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.08);
}

.sort-by-header {
    padding-left: 72px;
    padding-right: 55px;
}

.sort-by-header h2 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}

.sort-by-list {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.sort-by-list, 
.sort-dir, 
.catalog-list {
    list-style: none;
}

.sort-by-list a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0,0,0, 0.3);
}

.sort-by-list a:hover {
    color: rgba(0,0,0, 0.6);
}

.sort-by-list a:active {
    color: rgba(0,0,0, 1);
}

.sort-by-list .current {
    color: rgba(0,0,0, 1);
}

.sort-dir {
    display: flex;
    margin-right: 20px;
    margin-left: auto;
}

.catalog {
    display: block;
    flex-direction: column;
    padding-left: 70px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-right: 40px;
}

.catalog-item:nth-of-type(2n) {
  margin-right: 0;
}

.catalog-item img {
    order: 1;
}

.catalog-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    order: 2;
}

.catalog-item-title a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.catalog-item-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px; 
}

.catalog-item-controls {
    display: none;
}

.add-to-compare {
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0, 0.5);
    border: none;
    background-color: transparent;
}

.add-to-compare:hover {
    color: rgba(0,0,0, 1);
}

.add-to-compare:active {
    color: rgba(0,0,0, 0.2);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
    width: 760px;
    background-color: rgba(0,0,0, 0.08);
}

.backward,
.forward {
    line-height: 70px;
    padding: 0 30px;
}

.forward:hover, 
.backward:hover {
    background-color: rgba(0,0,0, 0.08);
}

.forward:active, 
.backward:active {
    background-color: rgba(0,0,0, 0.08);
    color: rgba(0,0,0, 0.3);
}

.pagination-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-list li:not(:last-child) {
    margin-right: 25px;
}

.pagination-list a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0, 0.3);
}

.pagination-list .current {
    color: rgba(0,0,0, 1);
}

.pagination-list a:hover {
    color: rgba(0,0,0, 0.6);
}

.pagination-list a:active {
    color: rgba(0,0,0, 1);
}
