@font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy-ExtraBold"),
         url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy-Light"),
         url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    letter-spacing: 0.1px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
    margin-top: 40px;
    padding: 0 20px;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    min-height: 186px;
    margin: auto;
    background-color: #f7e296;
} 

.page-header-logo {
    margin-top: -19px;
    padding-left: 60px;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.user-navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 60px 0;
    margin-bottom: 28px;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 440px;
    padding: 0;
}

.search::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 3px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search input[type="search"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f7e296;
    border: none;
    width: 355px;
    height: 49px;
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.search input[type="search"]:focus {
    outline: 0;
}

.search input[type="search"]::-webkit-input-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover::-webkit-input-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus::-webkit-input-placeholder {
    opacity: 1;
}

.search input[type="search"]::-moz-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover::-moz-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus::-moz-placeholder {
    opacity: 1;
}

.search input[type="search"]:-ms-input-placeholder {
    opacity: 0.3;
}

.search input[type="search"]:hover:-ms-input-placeholder {
    opacity: 0.6;
}

.search input[type="search"]:focus:-ms-input-placeholder {
    opacity: 1;
}

.search-button {
    display: none;
    width: 85px;
    height: 49px;
    background-color: #f7e296;
    border: 2px solid black;
    margin: 0;
}

.search-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.search input[type="search"]:focus + .search-button {
    display: block;
}

.search input[type="search"]:focus + .search-button:hover,
.search-button:hover,
.search-button:focus {
    display: block;
    background-color: #000000;
    color: #ffffff;
}

.search input[type="search"]:focus + .search-button:active,
.search-button:active {
    display: block;
    background-color: #000000;
    color: rgba(255,255,255, 0.3);
    outline: none;
}

.user-profile,
.user-shop,
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 540px;
    margin: 0;
}

.user-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}

.user-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}

.user-navigation li {
    margin-left: 35px;
}

.user-navigation li:first-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.user-profile li:not(:first-child) {
    margin-left: 20px;
}

.user-navigation a, 
.submenu a, 
.main-menu a {
    color: #000000;
}

.user-navigation a {
    position: relative;
    padding-left: 26px;
}

.user-profile .logout {
    opacity: 0.3;
    padding: 0;
}

.user-navigation a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.user-profile .login::before {
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
}

.user-shop .compare::before {
    width: 10px;
    height: 10px;
    background-image: url(../img/compare.svg);
}

.user-shop .cart::before {
    width: 12px;
    height: 12px;
    background-image: url(../img/cart.svg);
}

.user-navigation a:hover::before {
    opacity: 0.8;
}

.user-profile .login:hover::before {
    opacity: 0.6;
}

.user-navigation a:active::before {
    opacity: 0.3;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0 60px;
    position: relative;
}

.submenu-link {
    position: relative;
}

.submenu {
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 24px;
    left: -60px;
    width: 1160px;
    min-height: 160px;
    padding: 24px 60px 30px;
    background-color: #f7e296;
}

.submenu-link:hover .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submenu-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 200px;
}

.submenu-part:first-child {
    margin-right: 40px;
}

.submenu-part a {
    display: block;
    line-height: 36px;
}

.catalog-menu {
    position: relative;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.catalog-menu::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -30px;;
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.svg);
    opacity: 0.3;
}

.main-menu a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}

.page-header a:hover {
    color: rgba(0,0,0, 0.6);
}

.page-header a:active {
    color: rgba(0,0,0, 0.3);
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 540px;
    padding: 0;
}

.main-menu li {
    margin-left: 35px;
}

.main-menu li:last-child {
    margin-right: -3px;
    margin-left: auto;
}

.promo-slider-list,
.popular-list, 
.services-slider-list,
.brands-logo-list {
    list-style: none;
}

.main-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    margin: auto;
    padding: 0 20px;
}

.promo-slider {
    position: relative;
    margin-top: -12px;
}

.promo-slider-wrapper {
    position: relative;
    width: 1160px;
    margin: auto;
    z-index: 1;
}

.promo-slider-wrapper::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 1160px;
    height: 123px;
    background-color: #f7e296;
}

.promo-slider-list {
    padding: 0 60px;
}

.promo-slide {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2;
    min-height: 495px;
}

.promo-slide::after {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 180px;
    line-height: 180px;
    color: #ffffff;
    position: absolute;
    content: "";
    top: -15px;
    right: -15px;
}

.promo-slide:nth-child(1)::after {
    content: "01";
}

.promo-slide:nth-child(2)::after {
    content: "02";
}

.promo-slide:nth-child(3)::after {
    content: "03";
}

.promo-slide-img {
    margin-right: auto;
    padding-left: 30px;
}

.promo-slide:nth-of-type(2) .promo-slide-img {
    padding-left: 50px;
}

.promo-slide:nth-of-type(3) .promo-slide-img {
    margin-left: -30px;
    padding-left: 0;
    padding-top: 65px;
}

.promo-slide-info {
    position: relative;
    z-index: 3;
    width: 501px;
    padding-top: 76px;
}

.promo-slide-info::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.promo-slider-slogan {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
}

.promo-slider-text {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 480px;
    letter-spacing: 0.1px;
}

.button {
    position: relative;
    z-index: 2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000000;
    background-color: transparent;
    border: none;
    padding: 0 40px;
}

.button::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
}

.button:hover::before {
    top: calc(50% - 20px);
    height: 40px;
}

.button:active {
    background-color: #f0c52e;
    color: rgba(0,0,0, 0.3);
    outline: none;
}

.promo-slider-table {
    margin-top: 55px;
    padding: 0;
}

.promo-slider-table th {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.promo-slider-table td {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    padding-right: 75px;
}

.promo-slider-table td:last-child {
    padding: 0;
}

.promo-slider-controls {
    position: absolute;
    z-index: 3;
    right: 75px;
    bottom: 150px;
    margin: 0;
    padding: 0;
}

.promo-slider-controller {
    display: inline-block;
    vertical-align: middle;
    background: url(../img/slider-button-empty.svg) no-repeat 100%;
    background-size: contain;
    width: 12px;
    height: 12px;
    margin-left: 21px;
    padding: 0;
    cursor: pointer;
}

.product-1:checked ~ .promo-slider-list .promo-slide:nth-child(1),
.product-2:checked ~ .promo-slider-list .promo-slide:nth-child(2),
.product-3:checked ~ .promo-slider-list .promo-slide:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-1:checked ~ .promo-slider-controls label[for="promo-item-1"],
.product-2:checked ~ .promo-slider-controls label[for="promo-item-2"],
.product-3:checked ~ .promo-slider-controls label[for="promo-item-3"] {
    background: url(../img/slider-button.svg) no-repeat 100%;
    background-size: contain;
}

.popular {
    width: 1160px;
    margin: auto;
    padding: 0;
    margin-top: 80px;
}

.popular-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.popular-list li {
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

.popular-list li:nth-child(6n) {
    margin-right: 0;
}

.popular-list span {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.popular-item {
    position: relative;
    display: block;
    padding-top: 190px;
}

.popular-item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -2;
    display: block;
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
}


.popular-item:hover::before {
    background-color: #f0c52e;
}

.popular-item:active::after {
    opacity: 0.3;
}

.popular-item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: block;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.vr::after {
    background-image: url(../img/popular-1.svg);
}

.monopods::after {
    background-image: url(../img/popular-2.svg);
    background-position: bottom;
}

.action-cameras::after {
    background-image: url(../img/popular-3.svg);
}

.fitness-bracelets::after {
    background-image: url(../img/popular-4.svg);
}

.smart-watches::after {
    background-image: url(../img/popular-5.svg);
}

.quadcopters::after {
    background-image: url(../img/popular-6.svg);
}

.popular-item:active span {
    color: rgba(0,0,0, 0.3);
}

.services-slider {
    margin: 0;
    margin-top: 170px;
    min-width: 1200px;
    min-height: 288px;
    background-color: #e5e5e5;
}

.services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
    margin: auto;
    margin-bottom: 70px;
    padding: 0 20px;
}

.services-slider-controls {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    list-style: none;
    position: relative;
    width: 285px;
    min-height: 319px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 7px solid #000000;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    margin-top: -94px;
}

.services-slider-controls li {
    padding: 0;
    height: 40px;
    width: 160px;
    padding-bottom: 25px;
}

.control-button {
    width: 161px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.control-button:active,
.services-slide-1:checked ~ .services-slider-controls label[for="service-1"],
.services-slide-2:checked ~ .services-slider-controls label[for="service-2"],
.services-slide-3:checked ~ .services-slider-controls label[for="service-3"] {
    color: #f7e184;
}

.control-button:active::before,
.services-slide-1:checked ~ .services-slider-controls label[for="service-1"]::before,
.services-slide-2:checked ~ .services-slider-controls label[for="service-2"]::before,
.services-slide-3:checked ~ .services-slider-controls label[for="service-3"]::before {
    top: calc(50% - 20px);
    width: 278px;
    height: 40px;
    background-color: #000000;
    outline: none;
}

.services-slide-1:checked ~ .services-slider-list .services-slide:nth-child(1),
.services-slide-2:checked ~ .services-slider-list .services-slide:nth-child(2),
.services-slide-3:checked ~ .services-slider-list .services-slide:nth-child(3){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services-slider-list {
    -ms-flex-preferred-size: 800px;
        flex-basis: 800px;
    width: 800px;
    padding: 0 40px 0 115px;
    margin: 0;
    margin-top: -25px;
}

.services-slide {
    display: none;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 435px;
    margin: 0;
    padding-right: 260px;
}

.services-slide::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.services-slide:nth-child(1)::after {
    width: 136px;
    height: 164px;
    background-image: url(../img/delivery.svg);
}

.services-slide:nth-child(2)::after {
    width: 171px;
    height: 195px;
    background-image: url(../img/warranty.svg);
}

.services-slide:nth-child(3)::after {
    width: 156px;
    height: 188px;
    background-image: url(../img/credit.svg);
}

.services-slide a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
}

.services-slide p,
.services-slide h3 {
    width: 435px;
    margin: 0;
}

.services-slide p {
    margin-top: 32px;
}

.main-bottom-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1160px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 87px;
    padding: 0 20px;
}

.brands-logo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 26px;
}

.brands-logo-item:nth-child(1) img:hover, 
.brands-logo-item:nth-child(1) img:focus {
    background-image: url(../img/logo-1.jpg);
}

.brands-logo-item:nth-child(2) img:hover,
.brands-logo-item:nth-child(2) img:focus{
    background-image: url(../img/logo-2.jpg);
}

.brands-logo-item:nth-child(3) img:hover,
.brands-logo-item:nth-child(3) img:focus{
    background-image: url(../img/logo-3.jpg);
}

.brands-logo-item:nth-child(4) img:hover,
.brands-logo-item:nth-child(4) img:focus{
    background-image: url(../img/logo-4.jpg);
}

.info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-top: 85px;
    padding: 0;
}

.info-wrapper h3 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 40px;
}

.info-wrapper p {
    margin: 0;
    margin-bottom: 33px;
    letter-spacing: 0;
}

.about-us p:last-of-type {
    width: 475px;
}
.info-wrapper .button {
    padding: 0;
    width: 260px;
}

.about-us {
    position: relative;
    width: 465px;
}

.about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.transport {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    list-style: none;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 60px;
}

.transport li {
    position: relative;
    padding-left: 35px;
}

.transport li::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 8px;
    height: 8px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.contacts {
    position: relative;
    width: 560px;
    margin-right: 0;
}

.contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.map {
    display: block;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 65px;
}

.page-footer {
    background-color: #464646;
    min-width: 1200px;
    min-height: 323px;
    margin: 0;
    padding: 0;
}

.page-footer-wrapper {
    width: 1160px;
    padding: 50px 20px 0px;
    margin: auto;
}

.page-footer-logo {
    padding-top: 15px;
}

.page-footer-logo img:hover, 
.page-footer-logo img:focus {
    opacity: 0.6;
}

.page-footer-logo img:active {
    opacity: 0.3;
}

.page-footer-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.page-footer-logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.footer-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
}

.footer-user-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

.footer-user-profile li:not(:first-of-type) {
    padding-left: 20px;
}

.footer-user-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-left: 20px;
}

.footer-user-shop li {
    margin-left: 40px;
}

.footer-user-navigation a {
    position: relative;
    color: rgba(255,255,255, 0.7);
}

.footer-user-navigation svg {
    padding-right: 5px;
}

.footer-user-navigation a:hover {
    color: rgba(255,255,255, 1);
}

.footer-login:hover svg,
.footer-compare:hover svg,
.footer-cart:hover svg {
    opacity: 0.6;
}

.footer-user-navigation a:active {
    color: rgba(255,255,255, 0.3);
}

.footer-login:active svg,
.footer-compare:active svg,
.footer-cart:active svg {
    opacity: 0.3;
}

.page-footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
}

.page-footer-address, 
.page-footer-tel {
    color: #ffffff;
}

.page-footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.page-footer-menu li {
    padding-right: 35px;
}

.page-footer-menu a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
}

.page-footer-menu a:hover {
    color: rgba(255,255,255, 0.6);
}

.page-footer-menu a:active {
    color: rgba(255,255,255, 0.3);
}

.page-footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 42px;
    min-height: 35px;
    position: relative;
}

.page-footer-links::before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}

.page-footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 510px;
    margin-right: auto;
    padding: 0;
}

.page-footer-social ul {
    padding: 0;
    margin: 0;
}

.page-footer-social li {
    display: inline-block;
    margin-right: 21px;
}

.social-button {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.fb {
    background-image: url(../img/fb.svg);
}

.inst {
    background-image: url(../img/instagram.svg);
}

.tw {
    background-image: url(../img/twitter.svg);
}

.social-button:hover, 
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.copyright img:hover, 
.copyright img:focus {
    opacity: 0.6;
}

.copyright img:active {
    opacity: 0.3;
}

.modal-write-us {
    display: none;
    position: fixed;
    z-index: 5;
    top: calc(50% - 290px);
    left: calc(50% - 480px);
    width: 960px;
    min-height: 553px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 10px 10px rgba(229,229,229, 0.5);
            box-shadow: 0 10px 10px 10px rgba(229,229,229, 0.5);
}

.write-us-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 840px;
    padding: 0;
    margin: auto;
    margin-top: 95px;
}

.write-us-item {
    padding: 0 20px;
}

.write-us-item label {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"],
.write-us-item textarea {
    box-sizing: border-box;
    background-color: rgba(230,230,230, 0.5);
    border: none;
    width: 360px;
    min-height: 50px;
    padding: 0 20px;
}

.write-us-item textarea {
    width: 760px;
    min-height: 156px;
    padding-top: 20px;
}

.write-us-item input[type="text"]:hover,
.write-us-item input[type="email"]:hover,
.write-us-item textarea:hover {
    background-color: rgba(230,230,230, 0.8);
}

.write-us-item input[type="text"]:focus,
.write-us-item input[type="email"]:focus,
.write-us-item textarea:focus {
    background-color: #ffffff;
    outline: 2px solid rgba(240,197,46, 0.5);
}

.write-us-item input[type="text"]:invalid,
.write-us-item input[type="email"]:invalid,
.write-us-item textarea:invalid {
    background-color: rgba(237,181,181, 0.5);
}

.write-us-item input[type="text"]::-webkit-input-placeholder,
.write-us-item input[type="email"]::-webkit-input-placeholder,
.write-us-item textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.write-us-item input::-moz-placeholder,
.write-us-item textarea::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.write-us-item input[type="text"]:-ms-input-placeholder,
.write-us-item input[type="email"]:-ms-input-placeholder,
.write-us-item textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(70,70,70, 0.4);
}

.write-us-form .button {
    width: 200px;
    margin-right: 600px;
    margin-left: 40px;
    padding: 20px;
}

.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: none;
    background-image: url(../img/modal-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-map {
    display: none;
    position: fixed;
    z-index: 3;
    top: calc(50% - 290px);
    left: calc(50% - 480px);
    width: 960px;
    height: 559px;
    background-image: url(../img/big-map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 0 10px 10px 10px rgba(229,229,229, 0.5);
            box-shadow: 0 10px 10px 10px rgba(229,229,229, 0.5);
}

.modal-map iframe {
    width: 960px;
    height: 559px;
    border: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.breadcrumbs-wrapper {
    width: 1100px;
    margin: auto;
    padding: 38px 20px 44px 80px;
}

.page-title {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.breadcrumbs {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0, 0.3);
    margin: 0;
    padding: 0;
} 

.breadcrumbs li {
    position: relative;
    padding-right: 39px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
      position: absolute;
      top: 14px;
      right: 17px;
      display: block;
      width: 4px;
      height: 7px;
      background-image: url("../img/nav-arrow.svg");
      background-repeat: no-repeat;
      background-position: center center;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    color: rgba(0,0,0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0,0,0, 0.1);
}

.inner-page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filters {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #efefef;
    margin-bottom: 4px;
}

.filters-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 348px;
    min-height: 70px;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 70px;
}

.filters-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.08);
}

.filters-header h2 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0;
} 

.filters-main {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 350px;
    margin-left: auto;
    padding-top: 42px;
    padding-right: 70px;
    padding-left: 80px;
}

.filters-item fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filters-main .filters-item:first-of-type {
    margin-top: 27px;
}

.filters-main .filters-item {
    position: relative;
    margin-top: 25px;
    padding-top: 13px;
}

.filters-item legend {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.filters-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
}

.filters label {
    font-size: 14px;
    line-height: 40px;
    color: #000000;
}

.range-controls {
    position: relative;
    padding-top: 35px;
}

.range-controls .scale {
    height: 2px;
    background-color: #dbdbdb;
}

.range-controls .bar {
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: 25px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 107px;
}

.price-controls input,
.price-controls label {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0, 0.2);
}

.price-controls label {
    display: inline-block;
}

.price-controls input {
    width: 70px;
    padding: 8px 0px;
    border: none;
    background-color: transparent;
}

.filters-item-list {
    list-style: none;
    padding: 0;
    margin-top: 17px;
    margin-bottom: 7px;
}

.filters-item-list li {
    margin: 0;
    padding-left: 40px;
}

.filters-item-list label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.input-checkbox + label::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -40px;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-checkbox:checked + label::before {
    width: 27px;
    background-image: url(../img/checkbox-on.svg);
}

.input-radio + label::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -40px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input-radio:checked + label::before {
    background-image: url(../img/radio-on.svg);
}

.input-checkbox:hover + label::before,
.input-radio:hover + label::before {
    opacity: 0.6;
}

.input-checkbox:checked:hover + label::before,
.input-radio:checked:hover + label::before {
    opacity: 0.6;
}

.input-checkbox:disabled + label,
.input-radio:disabled + label,
.input-checkbox:disabled + label::before,
.input-radio:disabled + label::before,
.input-checkbox:disabled:hover + label::before,
.input-radio:disabled:hover + label::before {
    opacity: 0.25;
}

.filters-main .button {
    width: 200px;
    margin-top: 32px;
}

.catalog-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 77px;
}

.sort-by {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 853px;
    min-height: 70px;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 20px;
}

.sort-by::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0, 0.08);
}

.sort-by-header {
    padding-right: 55px;
}

.sort-by-header h2 {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}

.sort-by-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 300px;
    padding: 0;
}

.sort-by-list, 
.sort-dir, 
.catalog-list {
    list-style: none;
}

.sort-by-list a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    opacity: 0.3;
}

.sort-by a:hover {
    opacity: 0.6;
}

.sort-by a:active {
    opacity: 0.1;
}

.sort-by .current {
    opacity: 1;
}

.sort-dir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.sort-dir li:first-child {
    padding-right: 19px;
}

.sort-dir a {
    display: block;
    width: 11px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.sort-dir .dir-up {
    background-image: url(../img/icon-up-dir.svg);
}

.sort-dir .dir-down {
    background-image: url(../img/icon-down-dir.svg);
}

.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 853px;
    margin-right: auto;
    padding: 22px 20px 0 72px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
    margin-right: 40px;
}

.new::after {
    content: "New";
    position: absolute;
    top: 28px;
    right: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56px;
    height: 56px;
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid rgba(0,0,0, 0.1);
    border-radius: 50%;
}

.catalog-item:nth-of-type(2n) {
  margin-right: 0;
}

.catalog-item-img {
    position: relative;
    width: 360px;
    height: 380px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.catalog-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 360px;
    padding-top: 33px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 24px;
    width: 260px;
    margin: 0;
}

.catalog-item-title a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.catalog-item-price {
    font-family: "Gilroy Light", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.catalog-item-controls {
    position: absolute;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238,238,238, 0.7);
}

.catalog-item-img:hover .catalog-item-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.add-to-compare {
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0, 0.5);
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

.add-to-compare:hover {
    color: rgba(0,0,0, 1);
}

.add-to-compare:active {
    color: rgba(0,0,0, 0.2);
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    width: 760px;
    background-color: rgba(0,0,0, 0.08);
}

.backward,
.forward {
    font-size: 16px;
    line-height: 70px;
    letter-spacing: 2px;
    padding: 0 30px;
}

.backward::before,
.forward::before {
    display: none;
}

.forward:hover, 
.backward:hover {
    background-color: rgba(0,0,0, 0.08);
}

.forward:active, 
.backward:active {
    background-color: rgba(0,0,0, 0.08);
    color: rgba(0,0,0, 0.3);
}

.pagination-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.pagination-list li {
    margin-right: 25px;
}

.pagination-list a {
    font-family: "Gilroy ExtraBold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0, 0.3);
}

.pagination-list .current {
    color: rgba(0,0,0, 1);
}

.pagination-list a:hover {
    color: rgba(0,0,0, 0.6);
}

.pagination-list a:active {
    color: rgba(0,0,0, 1);
}